<div class="vitruvium chat-card">
  <div class="card-header">
    <h3>{{attribute}}</h3>
  </div>
  <div class="card-content">
    <div class="dice-result">
      <div class="dice-formula">{{diceCount}}d6</div>
      <div class="dice-tooltip" style="display: none;">
        {{{roll.tooltip}}}
      </div>
      <div class="dice-total">
        {{successes}} успехов
        {{#if advantage}}<
